html{
  // background-color: tomato;
  font-size: 62.5%;
}
body{
  // background: rgb(255, 181, 45);
}

.stars {
  position: relative;
  width: 100%; /* 星空の横幅 */
  height: 2000px; /* 星空の縦幅 */
  background-image: linear-gradient(0deg, #47edd1, #064d76, #0a172e); /* 星空の背景色 */
  // overflow: hidden; /* 星が枠外にはみ出すのを防ぐ */
  .Star{
    position: absolute;
    top: 60px;
    left: 80px;
    box-shadow: 10px 10px 5px 5px rgba(#1ef273, 1);
  }
}
.mouseStalker{
  // border: 1px tomato solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: rgba(#1ef273, 0.5);
  border-radius: 50%;
  transform: translate(0,0);
  transition: transform 0.3s;
  transition-timing-function: ease-out;
  z-index: 999;
}
/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff; /* 星の色 */
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(#9de2b9, 0.2); /* 星の影 */
  opacity: 0;
  animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.contair{
  position: absolute;
  top: 0;
  left: 0;
}
header{
  width: 100%;
  height: 100px;
  position: fixed;
  .flex{
    width: 100%;
    display: flex;
    justify-content: center;
    li{
      width: 120px;
      // list-style: none;
      text-align: center;
      line-height: 100px;
      list-style: none;
      position: relative;
      font-size: 2.4rem;
      a{
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: #fff;
        &:hover::before{
          width: 90%;
        }
        &::before{
          content: "";
          display: block;
          position: absolute;
          top:60px;
          width: 10%;
          // text-align: center;
          margin: 0 10px 0 0;
          border:4px solid #1ef273;
          transition: all .4s;

        }
        span{
          font-weight: bold;
        }
      }
    }
    .bold{
      color: #fff;
      font-size: 2.8rem;
      font-weight: bold;
    }
  }
}