@charset "UTF-8";
html {
  font-size: 62.5%;
  width: 1680px;
}

body {
  width: 1680px;
}

.stars {
  position: relative;
  width: 1680px; /* 星空の横幅 */
  height: 2000px; /* 星空の縦幅 */
  background-image: linear-gradient(0deg, #47edd1, #064d76, #0a172e); /* 星空の背景色 */
}
.stars .Star {
  position: absolute;
  top: 60px;
  left: 80px;
  box-shadow: 10px 10px 5px 5px #1ef273;
}

.mouseStalker {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: rgba(30, 242, 115, 0.5);
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.3s;
  transition-timing-function: ease-out;
  z-index: 999;
}

/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff; /* 星の色 */
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(157, 226, 185, 0.2); /* 星の影 */
  opacity: 0;
  animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.container {
  width: 1560px;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  width: 500px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 100px;
  background: #fff;
  z-index: 100;
  border-radius: 10px;
}
header .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header .content li {
  width: 90px;
  height: 40px;
  background: #03334f;
  color: #fff;
  text-align: center;
  list-style: none;
  margin-top: 5px;
  border-radius: 10px;
  line-height: 40px;
}
header .content li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}

main {
  width: 100%;
  margin: 0 auto;
}

h2 {
  color: #eee;
  font-size: 4rem;
  text-align: center;
  margin-top: 80px;
}

.mySelf {
  width: 100%;
  height: 600px;
  margin-top: 30px;
}
.mySelf .content {
  width: 850px;
  height: 530px;
  margin: 30px auto 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.mySelf .content .box {
  width: 730px;
  height: 430px;
  background: #ddd;
}
.mySelf .content .box figure {
  width: 730px;
  height: 430px;
}
.mySelf .content .box figure img {
  width: 100%;
  height: 100%;
}
.mySelf .content .more {
  width: 80px;
  height: 240px;
  background: #ddd;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.mySelf .content .more h3 {
  font-size: 3rem;
  text-align: center;
  line-height: 80px;
}
.mySelf .content .detail {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 300px;
  height: 220px;
  background: rgb(255, 255, 255);
  border: 1px solid #000;
}